@font-face {
  font-family: 'Fascinate-Regular';
  src: url("../fonts/Fascinate-Regular.otf"); }

@font-face {
  font-family: 'PoiretOne-Regular';
  src: url("../fonts/PoiretOne-Regular.ttf"); }

body {
  font-family: "PoiretOne-Regular";
  background-color: #efb633; }

.btn {
  font-weight: bold; }

.btn-primary {
  background-color: #748660;
  border: none !important;
  color: black !important;
  box-shadow: none !important; }

.btn-primary:hover {
  background-color: #eeda9d !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important; }

.btn-primary:active, .btn-primary.active {
  background: #eeda9d !important;
  border: none !important;
  color: black !important; }

p {
  font-weight: bold; }

#header {
  background: url("../img/shapes-pattern.jpg") no-repeat;
  background-size: cover;
  height: 90px;
  position: relative; }
  #header img {
    position: absolute;
    margin-top: 30px;
    z-index: 2;
    margin-left: -60px;
    box-shadow: 0 0 20px black; }
  #header img:hover {
    box-shadow: 0 0 20px #eeda9d;
    cursor: pointer; }
  #header span {
    font-family: "Fascinate-Regular";
    font-size: 50px; }

#slider.container {
  min-width: 1600px; }

#mySidenav {
  height: auto;
  width: 100%;
  /* 0 width - change this with JavaScript */
  z-index: 1;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0;
  transition: 0.5s; }

/* The navigation menu links */
.sidenav a {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "PoiretOne-Regular";
  float: left; }

.nav_links {
  padding-top: 80px; }

.sidenav a:hover {
  color: #f1f1f1; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  #mySidenav {
    height: 80%;
    width: 100%;
    z-index: 1;
    /* Stay on top */
    top: 90px;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0;
    /* Place content 60px from the top */
    position: absolute; }
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px;
    float: none;
    padding-top: 10px; }
  .nav_links {
    padding-top: 70px;
    text-align: center; }
  #garnitury .row {
    margin-left: 0;
    align: center; }
  #garnitury #photo_links {
    align: center; }
  #garnitury .tablink {
    display: inline;
    width: 55px;
    height: auto; }
  #garnitury .tablink img {
    display: inline;
    width: 55px;
    height: auto; }
  #garnitury #photo_links {
    margin-top: 80px; }
  #garnitury .middle {
    display: none; }
  #garnitury .tabcontent img {
    width: 200px;
    height: auto;
    margin-top: 20px; }
  .card {
    min-height: 20px !important;
    min-width: 120px !important; }
  .card-text {
    display: none; } }

.carousel-inner > .carousel-item > img {
  height: 400px; }

#shopping {
  background: url("../img/suit_shopping.jpg");
  background-size: cover;
  height: 296px; }

#przekaz .row {
  margin-top: 30px; }

#przekaz .btn {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px; }

#przekaz .btn:hover {
  background-color: #eeda9d;
  border: none; }

#o_firmie {
  background-color: #eeda9d;
  padding: 150px 0 150px 0; }
  #o_firmie p {
    display: inline; }
  #o_firmie h1 {
    font-family: "Fascinate-Regular"; }
  #o_firmie #more {
    display: inline; }

#oferta {
  background-color: black; }

#brands {
  text-align: center; }
  #brands img {
    height: auto; }

footer {
  background: url("../img/shapes-pattern.jpg") no-repeat;
  background-size: cover;
  height: 60px;
  width: 100%;
  bottom: 0; }
  footer a {
    color: black; }
  footer a:hover {
    color: black; }
  footer h3 {
    font-weight: bold; }

#garnitury .row {
  margin-right: 0; }

.tabcontent {
  display: none;
  margin-left: auto;
  margin-right: auto; }
  .tabcontent .opis {
    margin-top: 10%;
    margin-bottom: auto; }
  .tabcontent img {
    margin-right: 20px;
    float: left; }

#photo_links {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.tablink {
  position: relative;
  float: left; }

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  align: center; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 40px;
  text-align: center; }

.tablink:hover .image {
  opacity: 0.3;
  cursor: pointer; }

.tablink:hover .middle {
  opacity: 1;
  cursor: pointer; }

.text {
  background-color: #748660;
  padding: 5px;
  width: 80px;
  font-weight: bold; }

#fitting input, #fitting select, #fitting option, #fitting textarea, #fitting label, form input, form select, form option, form textarea, form label {
  font-weight: bold; }

.form-control:focus {
  box-shadow: 0 0 10px #748660;
  border: none; }

form {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

#onas, #kontakt, #mapa {
  margin-top: 100px; }

.text-top, #photos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem; }

.green-back {
  background-color: #748660;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px black;
  max-width: 300px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }

.orange-back {
  min-width: 250px;
  background-color: #efb633;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px black; }

.card {
  max-width: 250px;
  min-width: 250px;
  min-height: 705px;
  background-color: #748660;
  box-shadow: 0 0 20px black;
  margin-left: auto;
  margin-right: auto; }
