
$logo-font: 'Fascinate-Regular';
$text-font: 'PoiretOne-Regular';
$orange: #efb633;
$beige: #eeda9d;
$dirty-green: #748660;

@font-face {
	font-family: 'Fascinate-Regular';
    src: url('../fonts/Fascinate-Regular.otf');
}
@font-face {
	font-family: 'PoiretOne-Regular';
    src: url('../fonts/PoiretOne-Regular.ttf');
}

body{
	margin:0;
	padding:0;
	font-family: $text-font;
    background-color: #efb633;
    font-weight: bold;
}

.btn{
    font-weight: bold;
}

.btn-primary{
    background-color: $dirty-green;
    border: none !important;
    color: black !important;
    box-shadow: none !important;
}

.btn-primary:hover{
    background-color: $beige !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-primary:active, .btn-primary.active {
    background: $beige !important;
    border: none !important;
    color: black !important;
}

p{
    font-weight: bold;
}

// czy przy bootstrapie nie trzeb czyścić marginów i padingów body?

#header{
	background: url("../img/shapes-pattern.jpg") no-repeat;
	background-size: cover;
	height: 90px;
	position: relative;
	// .menu{
	// 	position: absolute;
	// 	bottom:0;
	// 	left:0;
	// 	background: orange;
	// 	font-weight: bold;
	// 	padding: 0 5px;
	// 	z-index: 1;
	// 	font-family: $logo-font;
	// }
	img{
		position: absolute;
		margin-top: 30px;
		z-index: 2;
		margin-left: -60px;
		box-shadow: 0 0 20px black;
	}
    img:hover{
        box-shadow: 0 0 20px $beige;
        cursor: pointer;
    }
	span{
		font-family: $logo-font;
		font-size: 50px;
	}
}

//........................nawigacja boczna..spróbować stąd: https://mdbootstrap.com/javascript/sidenav/......................................................................
#slider.container{
	min-width: 1600px;
}


#mySidenav {
    height: 120px; //100% Full-height
    width: 100%; /* 0 width - change this with JavaScript */
    // position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 90px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; //0.5 second transition effect to slide in the sidenav
    position: absolute;
}

/* The navigation menu links */
.sidenav a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: $text-font;
    float: right;
    // position: absolute;
    // margin-top: 50px;
}

.nav_links{
    padding-top:80px;
}

// When you mouse over the navigation links, change their color
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
	#mySidenav{
	height: 50%;
    width: 100%;
    z-index: 1; /* Stay on top */
    top: 90px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    // transition: 0.5s; 0.5 second transition effect to slide in the sidenav
    position: absolute;
    // position: fixed; //Stay in place
	}
    .sidenav {padding-top: 15px;}
    .sidenav a {
    	font-size: 18px;
		float: none;
		padding-top:10px;
    }
    .nav_links{
        padding-top: 70px;
        text-align: center;
    }

    // strona o garniturach
    #garnitury{
        .row{
            margin-left:0;
            align: center;
        }
        #photo_links{
            align: center;
        }
        .tablink{
            display:inline;
            width:55px;
            height: auto;
            // padding-right:0;
        }

        .tablink img{
           display:inline;
            width:55px;
            height: auto; 
        }

        #photo_links{
            margin-top:80px;
        }
        .middle{
            display: none;
        }

        .tabcontent img{
            width: 200px;
            height: auto;
            margin-top:20px;
        }
    }
}

// .............koniec nawigacji bocznej.................................

// karuzela 
// określa wysokośc slidera
.carousel-inner > .carousel-item > img{
        height: 400px;
    }



#shopping{
    background: url("../img/suit_shopping.jpg");
    background-size: cover;
    height: 296px;
}

#przekaz{
    .row{
        margin-top: 30px;
    }
    .btn{   
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    }
    .btn:hover{
        background-color: $beige;
        border: none;
    }
}

#o_firmie{
    background-color: $beige;
    padding: 150px 0 150px 0;
    p{
        display: inline;
    }
    h1{
        font-family: $logo-font;
    }
    #more{
        display: inline;
    }
}

#oferta{
    background-color: black;
}

#brands{
    // overflow: hidden;
    // height: 128px;
    text-align:center;
    img{
        // width:100%;
        height:auto;
    }
}

footer{
    background: url("../img/shapes-pattern.jpg") no-repeat;
    background-size: cover;
    height: 60px;
    width:100%;
    a{
        color:black;
    }
    a:hover{
        color:black;
    }
    h3{
        font-weight: bold;
    }
}

// STRONA GARNITURY

#garnitury{
    // row robi niepotrzebnie margines z prawej - usunęłam
    .row{
        margin-right: 0;
    }
}

.tabcontent{
    display: none;
    margin-left: auto;
    margin-right: auto;
    .opis{
        margin-top: 10%;
        margin-bottom:auto;
    }
    img{
        margin-right: 20px;
        float: left;
    }
}

#photo_links{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.tablink {
    position: relative;
    float: left;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 40px;
  text-align: center;
}

.tablink:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.tablink:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  background-color: $dirty-green;
  padding: 5px;
  width: 80px;
}


#fitting{
    input, select, option, textarea{
        font-weight: bold;
    }
}
// 
.form-control:focus{
    box-shadow: 0 0 10px $dirty-green;
    border: none;

}
